/* ==========================
        Base Styles
========================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  line-height: 1.6;
  background: #303a40;
}

a {
  text-decoration: none;
  /*color: #00BA83;*/
  color: #C582FF;
}

p, h2 {
  text-align: center;
}

figure {
  width: 100%;
  margin-bottom: 2.7em;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 0 0 10%;
  height: 100px;
}

/* ==========================
    Base Layout Styles
========================== */

/*----Layout Containers----*/

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main-header {
  background: #000;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  color: #C582FF;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

/*----Navigation-----------*/

.name {
  font-size: 1.5em;
  letter-spacing: 3px;
}

.name, nav li {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

header nav li {
  background: #303a40;
}

nav li a:hover {
  /*background: #00BA83;*/
  background: #C582FF;
  color: #000;
}

.name a, nav a {
  padding: 10px 15px;
  display: block;
  text-align: center;
}

nav a {
  font-size: .95em;
  text-transform: uppercase;
}

/*----Intro-----------*/

.intro {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 4em;
  margin-top: 3em;
}

.intro p {
  margin-right: 5px;
}

/*----Skills----*/

.skills {
  margin-bottom: 6em;
}

.skills ul {
  text-align: center;
  margin-top: 3em;
}

.skills ul li {
  display: inline-block;
  padding: 10px 50px;
  background: #627682;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.skills ul li:nth-child(1) {
  border-top: 12px solid #39ADD1;
}

.skills ul li:nth-child(2) {
  border-top: 12px solid #3079AB;
}

.skills ul li:nth-child(3) {
  border-top: 12px solid #c25975;
}

/*----portfolio----*/

.portfolio {
  text-align: center;
  margin-bottom: 3em;
}

/*.portfolio h2, .skills h2, .contact h2 {
  border-bottom: 5px solid #C582FF;
} */

.projects {
  margin-top: 2.5em;
}

/*----Contact---*/

.contact {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 3em;
}

.contact h4 a {
  padding: 15px;
}

/*----Footer----*/

footer ul li:not(:last-child) {
  display: none;
}

.main-footer {
  background: #000;
  padding-left: 1em;
  padding-right: 1em;
}

footer h3 {
  text-align: center;
}

footer nav {
  padding-bottom: 5px;
  padding-top: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* ==========================
    Image Styles
========================== */

.project-image {
  width: 100%;
}

.profile-image {
  width: 80%;
  max-width: 400px;
}

/* ==========================
    Media Queries
========================== */

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  /*---Navigation------------*/
  .name, nav li {
    display: inline-block;
  }
  header nav li {
    background-color: inherit;
    margin-right: 12px;
  }
  /*---Intro------------*/
  .intro-info {
    /*border: 1px solid red;*/
    float: left;
    width: 60%
  }
  .intro-info p {
    text-align: left;
  }
  .intro-image {
    /*border: 1px solid red;*/
    float: right;
    width: 40%;
    margin: 0;
  }
  .profile-image {
    width: 100%;
  }
  .skills ul {
    padding-left: 10%;
    padding-right: 10%;
  }
  .skills ul li {
    display: block;
    margin-bottom: 10px;
  }
  /*---portfolio------------*/
  .projects {
    margin-left: 4%;
  }
  .col {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  /*---footer------------*/
  footer nav {
    padding-right: 5%;
  }
  footer div {
    padding-left: 5%;
  }
  footer ul li:not(:last-child) {
    display: block;
  }
  footer ul li:last-child {
    display: none;
  }
  footer nav li {
    float: left;
  }

}

@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .intro, .contact p {
    font-size: 1.5em;
  }
  /*---Navigation------------*/
  nav {
    float: right;
  }
  nav li {
    float: left;
  }
  .name {
    float: left;
  }
  header nav {
    margin-top: 9px;
  }
  /*---portfolio------------*/
  .projects {
    margin-left: 6%;
  }
  .col {
    float: left;
    width: 30%;
  }
  /*---footer------------*/
  footer nav {
    padding-right: 10%;
  }
  footer div {
    padding-left: 10%;
  }
}

/*--------clearfix-------*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
